@media screen and (max-width: 768px){
    .profile-div {
        border-radius: 0.5rem;
    }
}
[class*=sidebar-dark-] {
    background-color: #173655 !important;
}
.gradient-custom {
    /* fallback for old browsers */
    background: #173655;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgb(23 54 85), rgb(82 135 187));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgb(23 54 85), rgb(82 135 187));
}
input#qrcode {
    text-align: center;
    margin: 10px auto;
}
.img-avatar {
    width: 50px;
    border: 3px solid;
    border-radius: 28px;
    height: 50px;
}
.css-hide {
    display: none;
}
.m-auto{
    margin: auto;
}
.profile-div {
    border-top-left-radius: .5rem; 
    border-bottom-left-radius: .5rem;
}